<div class="position-relative">
  <h1 mat-dialog-title>Add new user</h1>
  <div mat-dialog-content>

    <form class="add-user-form">
      <div class="add-user-row">
        <mat-form-field class="width-1-2 p-r-16">
          <mat-label>First name</mat-label>
          <!-- [(...)] eckige Klammer = Input, runde Klammer Output  -> hier also beides-->
          <input [disabled]="showProgressBar" [(ngModel)]="user.firstName" matInput placeholder=""
            value="" name="firstName">
        </mat-form-field>
        <mat-form-field class="width-1-2">
          <mat-label>Last name</mat-label>
          <input [disabled]="showProgressBar" [(ngModel)]="user.lastName" matInput placeholder=""
            name="lastName">
        </mat-form-field>
      </div>
      <div class="add-user-row">
        <mat-form-field class="width-1-1">
          <mat-label>Email</mat-label>
          <!-- [(...)] eckige Klammer = Input, runde Klammer Output  -> hier also beides-->
          <input [disabled]="showProgressBar" [(ngModel)]="user.email" matInput placeholder=""
            value="" name="email">
        </mat-form-field>

      </div>

      <div class="add-user-row">
        <mat-form-field appearance="fill" class="width-1-2 p-r-16">
          <mat-label>Birth date</mat-label>
          <input [disabled]="showProgressBar" [(ngModel)]="birthDate" matInput
            [matDatepicker]="datepicker" name="birthDate">
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <!-- <mat-hint>Please enter a date</mat-hint> -->
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>

      <div class="add-user-row">
        <mat-form-field class="width-1-1">
          <mat-label>Street + Nr.</mat-label>
          <input [disabled]="showProgressBar" [(ngModel)]="user.street" matInput name="street">
        </mat-form-field>
      </div>
      <div class="add-user-row">
        <mat-form-field class="width-1-3 p-r-16">
          <mat-label>Zip code</mat-label>
          <input [disabled]="showProgressBar" [(ngModel)]="user.zipCode" matInput name="zipCode">
        </mat-form-field>
        <mat-form-field class="width-2-3">
          <mat-label>City</mat-label>
          <input [disabled]="showProgressBar" [(ngModel)]="user.city" matInput name="city">
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button [disabled]="showProgressBar" mat-button (click)="dialogRef.close()">No
          Thanks</button>
        <button [disabled]="showProgressBar" mat-button (click)="saveUser()"
          cdkFocusInitial>Save</button>
      </div>

    </form>
    <div class="progress-bar">
      <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"
        class="d-none"></mat-progress-bar>
    </div>
  </div>
</div>