.add-user-form {
  display: flex;
  flex-direction: column;
}

.add-user-row {
  display: flex;
  width: 100%;
  // gap: 16px;
}

.progress-bar {
  position: absolute !important;
  bottom: 0px !important;
  left: 0px !important;
  width: calc(100% + 0px) !important;
}

.position-relative {
  position: relative !important;
}
